@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie głównej</h1>
    <p>Zadanie 4 <a href="https://cez2.wi.pb.edu.pl/moodle/pluginfile.php/90440/mod_resource/content/0/zadanie_PS_04.pdf">
        Layout/Bootstrap/CSS</a>.</p>
</div>
